.mainAppContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #eef7ff;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
.card {
  background-color: white;
}
.chartContainer {
  margin: 40px;
}
.contentRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.halfWidth {
  width: 48%;
}

.topFertilizersContainer {
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: white;
}

.logo {
  margin-top: 10px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #3498db;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}